.page-header
  %h1 Log in!
.row
  .span8.offset3
    = form_tag sessions_path do
      %fieldset
        .clearfix
          = label_tag :username
          .input= text_field_tag :username, params[:username]
        .clearfix
          = label_tag :password
          .input= password_field_tag :password
        .clearfix
          = label_tag :remember_me
          .input= check_box_tag :remember_me, 1, params[:remember_me]
        .actions
          = submit_tag "Sign in", class: "btn primary"
          = link_to "Register", new_user_path, class: "btn"
