.page-header
  %h1 Pros and Cons of being you!

#dilemmas
  .row
    .offset1
      %h2 Your dilemmas
      %ul{"data-bind" => "foreach: dilemmas"}
        %li
          %a{href: "#", "data-bind" => "text: name, click: $parent.edit_dilemma"}
          %a{href: "#", class: "btn small danger",
          "data-bind" => "click: $parent.delete_dilemma"} delete
      = text_field_tag :name, nil, placeholder: "Your new dilemma",
        "data-bind" => "value: new_dilemma, valueUpdate: 'afterkeydown'"
      = button_tag "Add!", class: "btn success",
        "data-bind" => "click: add_dilemma"

#edit-dilemma
  .row
    .span6.offset1
      %h2 Pros
      %ul.pros{"data-bind" => "foreach: pros"}
        %li
          %span{"data-bind" => "text: text"}
          %a{href: "#", class: "btn small danger",
          "data-bind" => "click: $parent.delete_pro"} delete

    .span6
      %h2 Cons
      %ul.cons{"data-bind" => "foreach: cons"}
        %li
          %span{"data-bind" => "text: text"}
          %a{href: "#", class: "btn small danger",
          "data-bind" => "click: $parent.delete_con"} delete
    .row
      .span8.offset3
        = text_field_tag nil, nil,
          "data-bind" => 'value: new_reason, valueUpdate: "afterkeydown"',
          placeholder: "A good/bad reason"
        = button_tag "Pro", class: "btn success",
          "data-bind" => 'click: add_pro, enable: new_reason().length > 0'
        = button_tag "Con", class: "btn danger",
          "data-bind" => 'click: add_con, enable: new_reason().length > 0'
        = button_tag "Both?", class: "btn",
          "data-bind" => 'click: add_both, enable: new_reason().length > 0'
        = button_tag "Save", class: "btn", "data-bind" => "click: save_dilemma"

