.page-header
  %h1 Pros and Cons of being you!

#dilemmas
  .row
    .offset1
      %h2 Your dilemmas
      %ul
        - @dilemmas.each do |dilemma|
          %li
            = link_to dilemma.name, edit_dilemma_url(dilemma)
            %a{href: "#", "data-id" => "#{dilemma.id}",
               class: "btn small danger delete-link"} delete
        %li
          = form_tag dilemmas_path, id: "new-dilemma-form",
            "data-bind" => "submit: add_dilemma" do
            = text_field_tag :name, params[:name],
              "data-bind" => 'value: dilemma, valueUpdate: "afterkeydown"',
              placeholder: "Your new dilemma"
            = submit_tag "Add!", class: "btn success",
              "data-bind" => 'enable: dilemma().length > 0'

#edit-dilemma
  .row
    .span6.offset1
      %h2 Pros
      %ul.pros{"data-bind" => "foreach: pros"}
        %li{"data-bind" => "text: text"}
    .span6
      %h2 Cons
      %ul.cons{"data-bind" => "foreach: cons"}
        %li{"data-bind" => "text: text"}
    .row
      .span8.offset3
        = text_field_tag nil, nil,
          "data-bind" => 'value: new_reason, valueUpdate: "afterkeydown"',
          placeholder: "A good/bad reason"
        = button_tag "Pro", class: "btn success",
          "data-bind" => 'click: add_pro, enable: new_reason().length > 0'
        = button_tag "Con", class: "btn danger",
          "data-bind" => 'click: add_con, enable: new_reason().length > 0'
        = button_tag "Both?", class: "btn",
          "data-bind" => 'click: add_both, enable: new_reason().length > 0'
        = button_tag "Save", class: "btn", "data-bind" => "click: save_dilemma"
= render "templates"

