!!!
%html
  %head
    %title Procon
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          = link_to "Procon", "/", class: "brand"
    .container
      .content
        = yield

