!!!
%html
  %head
    %title Procon
    %link{:href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          = link_to "Procon", "/", class: "brand"
    .container
      .content
        = yield
