!!!
%html
  %head
    %title Procon
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "shared/header"
    .container
      .content
        = yield

